@import "./_breakpoints.scss" ;

// body {
//     // height: 100vh;
// }

header {
    padding: 1em;
    min-height: 15svh;
    position: sticky;
    background-color: white;
    top: 0;
    transition: all .5s ease-in;
    @include md {
        display:  flex;
        flex-wrap: wrap;
    }
    z-index: 1;
    #showNav {
        display: none;
    }
    .bars-icon {
        display: none;
        svg {
            max-width: 3em;
            max-height: 3em;
        }
        @include md {
            display: block;
            min-width: 3em;
            min-height: 3em;
            flex: 1 1 100%;
            order: 1;
            display: flex;
            justify-content: flex-end;
        }
    }

    @include md {
        input[type="checkbox"]:checked + nav {
            display: block;
        }
    }

    nav {
        @include md {
            display: none;
            order: 2;
        }
        ul {
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            @include md {
                flex-direction: column;
                align-items: center;
                gap: 2em;
            }
            li {
                display: flex;
                gap: .1em;
                justify-content: center;
                flex: 1 1 33%;
                align-items: center;
                @include md {
                    min-width: 100%;
                }
                svg {
                    max-width: 60%;
                    max-height: 5em;
                }
            }
            li:nth-child(2){
                svg {
                    max-width: 20%;
                }
                svg:hover {
                    fill: rgb(232, 232, 255);
                }
                span:last-child{
                    font-weight: bold;
                }
            }
            li:last-child {
                 button {
                    background-color: red;
                    padding: 1em;
                    border: none;
                    border-radius: 2em;
                    color: azure;
                    font-weight: bold;
                    cursor: pointer;
                 }
                 button:hover {
                    background-color: rgb(169, 0, 0);
                 }
            }
        }
    }
}

header.bg-blue {
    background-color: rgb(147, 147, 212);
    opacity: .6;
}

header.bg-green {
    background-color: rgb(142, 231, 10);
    opacity: .6;
}

header.bg-gradient {
    background-color: #FAD961;
    background-image: linear-gradient(270deg, #FAD961 0%, #F76B1C 100%);
}

main {
    .advert-section-1 {
        min-height: 60svh;
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .advert-1-text-top {
            display: flex;
            gap: .8em;
            span:nth-child(2){
                color: crimson;
            }
            span:nth-child(4){
                color: crimson;
            }
        }
        .advert-1-text-bottom{
            display: flex;
            justify-content: center;
            h1{
                max-width: 90%;
                text-align: center;
            }
        }
    }
    .advert-section-2 {
        background-image: url('./images/5aa975f.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100svh;
        background-attachment: fixed;
    }

    .advert-section-3 {
        min-height: 90svh;
        padding: 1em;
        display: flex;
        flex-direction: column;
        gap: 2em;
        align-items: center;
            .scrollmagic-pin-spacer > h3{
                text-align: center;
                width: 90% !important;
                left: 0 !important;
            }
            .sponsor-articles {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 4em;
                .sponsor-article {
                    flex: 1 1 20%;
                    display: flex;
                    justify-content: center;
                    svg {
                        max-width: 100%;
                        max-height: 100%;
                    }
            }
        }
    }
    .advert-section-4{
        background-image: url('./images/7c0bb1f.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        min-height: 80svh;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding: 0 3em;
        .text-advert-4 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            p {
                color: azure;
                font-weight: bold;
            }
            h2 {
                color: azure;
                font-weight: bold;
            }
        }
    }
    .about-section {
        display: flex;
        min-height: 70svh;
        align-items: baseline;
        padding: 2em;
        @include lg {
            flex-wrap: wrap;
        }
        .about-article-left {
            flex: 1 1 50%;
            @include lg {
                flex: 1 1 100%;
            }
            display: flex;
            flex-direction: column;
            gap: 5em;
            padding: 1em;
            justify-content: center;
            align-items: center;
            p {
                text-align: justify;
                font-weight: bold;
                max-width: 80%;
            }
            a {
                color: orangered;
                display: flex;
                align-items: center;
                svg {
                    max-width: 2em;
                    max-height: 2em;
                    fill: orangered;
                }
            }
        }
        .about-article-right {
            flex: 1 1 50%;
            @include lg {
                flex: 1 1 100%;
                gap: 2em;
            }
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1em;
            gap: 9em;
           .workforce-list.workforce-list-scale {
                transform: scale(1.5);
                background-color: #D8DBDE;
                transition: transform 0.5s ease-in-out;
            }
            .workforce-list {
                list-style-type: none;
                display: flex;
                flex-direction: column;
                max-width: 50%;
                padding: 1em;
                border-radius: .6em;
                align-items: center;
                gap: 1em;
                transform: scale(1);
                transition: transform 0.5s ease-in-out;
                @include md {
                    max-width: 90% ;
                }
                li {
                    display: flex;
                    align-items: center;
                    gap: 1em;
                    svg {
                        max-width: 2em;
                        max-height: 2em;
                    }
                }
                #see-more {
                    a {
                        color: orangered;
                        display: flex;
                        align-items: center;
                        svg {
                            max-width: 2em;
                            max-height: 2em;
                            fill: orangered;
                        }
                    }
                }
            }
        }
    }
    .sections-divider {
        width: 100%;
        height: .3em;
        background-color: #D8DBDE;
    }
    .details-section {
        display: flex;
        padding: 2em;
        justify-content: center;
        align-items: center;
        @include md {
            flex-direction: column;
        }
        .details-left {
            flex: 1 1 50%;
            display: flex;
            flex-direction: column;
            gap: 1em;
            @include md {
                min-width: 90%;
            }
            .article-left-top {
                display: flex;
                flex-direction: column;
                gap: 3em;
                align-items: center;
                border-bottom: 2px solid steelblue;
                border-right: 2px solid steelblue;
                @include md {
                    min-width: 100%;
                    border-bottom: 2px solid steelblue;
                    border-right: none;
                }
                h3 {
                    max-width: 53%;
                    text-align: center;
                    @include md {
                        max-width: 90%;
                    }
                    span {
                        font-size: clamp(2.7rem, 3rem, 3.5rem);
                        color: crimson;
                    }
                }
                p {
                    max-width: 70%;
                    text-align: left;
                }
            }
            .article-left-bottom {
                display: flex;
                flex-direction: column;
                gap: 3em;
                align-items: center;
                border-right: 2px solid steelblue;
                border-bottom: 2px solid steelblue;
                @include md {
                    border-right: none;
                }
                .image-holder.fade-in {
                    opacity: 1;
                    transform: translateY(0);
                }
                .image-holder {
                    opacity: 0;
                    transform: translateY(50px);
                    transition: all 1s ease-out;
                    max-width: 70%;
                    @include md {
                        max-width: 90%;
                        padding-bottom: 1em;
                    }
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .text {
                    max-width: 70%;
                    @include md {
                        max-width: 90%;
                    }
                    display: flex;
                    flex-direction: column;
                    gap: 1em;
                }
            }
        }
        .details-right {
            flex: 1 1 50%;
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: 1em;
            margin-top: 15em;
            @include md {
                margin-top: 2.2em;
            }
            .article-right-top{
                display: flex;
                flex-direction: column;
                gap: 3em;
                align-items: center;
                padding: 1em;
                border-bottom: 2px solid steelblue;
                .image-holder.fade-in {
                    opacity: 1;
                    transform: translateY(0);
                }
                .image-holder {
                    opacity: 0;
                    transform: translateY(50px);
                    transition: all 1s ease-out;
                    max-width: 70%;
                    @include md {
                        max-width: 90%;
                    }
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .text {
                    max-width: 75%;
                    display: flex;
                    flex-direction: column;
                    gap: 1em;
                    @include md {
                        max-width: 90%;
                    }
                }
            }
            .article-right-bottom {
                display: flex;
                flex-direction: column;
                gap: 3em;
                align-items: center;
                .image-holder.fade-in {
                    opacity: 1;
                    transform: translateY(0);
                }
                .image-holder {
                    opacity: 0;
                    transform: translateY(50px);
                    transition: all 1s ease-out;
                    max-width: 70%;
                    @include md {
                        max-width: 90%;
                    }
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .text {
                    max-width: 75%;
                    display: flex;
                    flex-direction: column;
                    gap: 1em;
                    @include md {
                        max-width: 90%;
                    }
                }
            }
        }
    }


footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(60, 58, 58);
    .footer-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2em;
        .top-left {
            display: flex;
            flex-direction: column;
            flex: 1 1 50%;
            svg {
                max-width: 20em;
                height: auto;
                fill: azure;
            }
            p{
                color: azure;
            }
        }
        .top-right {
            display: flex;
            gap: 1em;
            justify-content: flex-start;
            flex: 1 1 50%;
            align-items: center;
            @include md {
                flex-direction: column;
            }
            svg {
                flex: 1 1 33%;
                fill: azure;
                @include md {
                    flex: 0 1 20%;
                }
            }
        }
    }
    .footer-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2em;
        .bottom-left {
            flex: 1 1 50%;
            span {
                color: azure;
            }
        }
        .bottom-right {
            display: flex;
            justify-content: center;
            gap: 1em;
            align-items: center;
            flex: 1 1 50%;
            svg {
                max-width: 3em;
                max-height: 3em;
                height: 3em;
                width: 3em;
                fill: #f0ffff;
            }
            span {
                color: azure;
            }
        }
    }
  }
}