header {
    padding: 1em;
    nav {
        ul {
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            li {
                display: flex;
                gap: .1em;
                justify-content: center;
                flex: 1 1 33%;
                align-items: center;
                svg {
                    max-width: 60%;
                    max-height: 5em;
                }
            }
            li:nth-child(2){
                svg {
                    max-width: 20%;
                }
                svg:hover {
                    fill: rgb(232, 232, 255);
                }
                span:last-child{
                    font-weight: bold;
                }
            }
            li:last-child {
                 button {
                    background-color: red;
                    padding: 1em;
                    border: none;
                    border-radius: 2em;
                    color: azure;
                    font-weight: bold;
                    cursor: pointer;
                 }
                 button:hover {
                    background-color: rgb(169, 0, 0);
                 }
            }
        }
    }
}

main {
    .advert-section-1 {
        min-height: 60svh;
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .advert-1-text-top {
            display: flex;
            gap: .8em;
            span:nth-child(2){
                color: crimson;
            }
            span:nth-child(4){
                color: crimson;
            }
        }
        .advert-1-text-bottom{
            display: flex;
            justify-content: center;
            h1{
                max-width: 50%;
                text-align: center;
            }
        }
    }
    .advert-section-2 {
        background-image: url('./images/5aa975f.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100svh;
    }

    .advert-section-3 {
        min-height: 90svh;
        padding: 1em;
        display: flex;
        flex-direction: column;
        gap: 2em;
        align-items: center;
            h2{
                text-align: center;
                max-width: 90%;
            }
            .sponsor-articles {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 4em;
                .sponsor-article {
                    flex: 1 1 20%;
                    display: flex;
                    justify-content: center;
                    svg {
                        max-width: 100%;
                        max-height: 100%;
                    }
            }
        }
    }
    .advert-section-4{
        background-image: url('./images/7c0bb1f.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 80svh;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding: 0 3em;
        .text-advert-4 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            p {
                color: azure;
                font-weight: bold;
            }
            h2 {
                color: azure;
                font-weight: bold;
            }
        }
    }
    .about-section {
        display: flex;
        min-height: 70svh;
        align-items: baseline;
        padding: 2em;
        .about-article-left {
            flex: 1 1 50%;
            display: flex;
            flex-direction: column;
            gap: 5em;
            padding: 1em;
            justify-content: center;
            align-items: center;
            p {
                text-align: justify;
                font-weight: bold;
                max-width: 80%;
            }
            a {
                color: orangered;
                display: flex;
                align-items: center;
                svg {
                    max-width: 2em;
                    max-height: 2em;
                    fill: orangered;
                }
            }
        }
        .about-article-right {
            flex: 1 1 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1em;
            gap: 5em;
            .workforce-list {
                list-style-type: none;
                display: flex;
                flex-direction: column;
                gap: 1em;
                li {
                    display: flex;
                    align-items: center;
                    gap: 1em;
                    svg {
                        max-width: 2em;
                        max-height: 2em;
                    }
                }
                #see-more {
                    a {
                        color: orangered;
                        display: flex;
                        align-items: center;
                        svg {
                            max-width: 2em;
                            max-height: 2em;
                            fill: orangered;
                        }
                    }
                }
            }
        }
    }
    .sections-divider {
        width: 100%;
        height: .3em;
        background-color: #D8DBDE;
    }
    .details-section {
        display: flex;
        padding: 2em;
        justify-content: center;
        align-items: center;
        .details-left {
            flex: 1 1 50%;
            display: flex;
            flex-direction: column;
            gap: 1em;
            .article-left-top {
                display: flex;
                flex-direction: column;
                gap: 3em;
                align-items: center;
                border-bottom: 2px solid steelblue;
                border-right: 2px solid steelblue;
                h3 {
                    max-width: 53%;
                    text-align: center;
                    span {
                        font-size: clamp(2.7rem, 3rem, 3.5rem);
                        color: crimson;
                    }
                }
                p {
                    max-width: 70%;
                    text-align: left;
                }
            }
            .article-left-bottom {
                display: flex;
                flex-direction: column;
                gap: 3em;
                align-items: center;
                border-right: 2px solid steelblue;
                border-bottom: 2px solid steelblue;
                .image-holder {
                    max-width: 70%;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .text {
                    max-width: 70%;
                    display: flex;
                    flex-direction: column;
                    gap: 1em;
                }
            }
        }
        .details-right {
            flex: 1 1 50%;
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: 1em;
            margin-top: 15em;
            .article-right-top{
                display: flex;
                flex-direction: column;
                gap: 3em;
                align-items: center;
                padding: 1em;
                border-bottom: 2px solid steelblue;
                .image-holder {
                    max-width: 70%;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .text {
                    max-width: 75%;
                    display: flex;
                    flex-direction: column;
                    gap: 1em;
                }
            }
            .article-right-bottom {
                display: flex;
                flex-direction: column;
                gap: 3em;
                align-items: center;
                .image-holder {
                    max-width: 70%;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .text {
                    max-width: 75%;
                    display: flex;
                    flex-direction: column;
                    gap: 1em;
                }
            }
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(60, 58, 58);
    .footer-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2em;
        .top-left {
            display: flex;
            flex-direction: column;
            flex: 1 1 50%;
            svg {
                max-width: 20em;
                height: auto;
                fill: azure;
            }
            p{
                color: azure;
            }
        }
        .top-right {
            display: flex;
            gap: 1em;
            justify-content: flex-start;
            flex: 1 1 50%;
            align-items: center;
            svg {
                flex: 1 1 33%;
                fill: azure;
            }
        }
    }
    .footer-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2em;
        .bottom-left {
            flex: 1 1 50%;
            span {
                color: azure;
            }
        }
        .bottom-right {
            display: flex;
            justify-content: center;
            gap: 1em;
            align-items: center;
            flex: 1 1 50%;
            svg {
                max-width: 3em;
                max-height: 3em;
                height: 3em;
                width: 3em;
                fill: #f0ffff;
            }
            span {
                color: azure;
            }
        }
    }
}